<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">View Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nesciunt voluptas consectetur
        iste tempora, odio eveniet rem ea non temporibus voluptates, dolores ipsum. Earum fuga iure id commodi nostrum
        dolorem.</p>
    </div>
  </div>
</div>

<!--
<pre>{{group |json}}</pre>

<pre>{{contact |json}}</pre>

<pre>{{contactId}}</pre> -->

<!-- loading spinner -->

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!-- error message -->

<div class="container">
  <div class="row">
    <div class="col">
      <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
    </div>
  </div>
</div>

<!-- details contact -->
<div class="container" *ngIf="!loading &&  isNotEmpty()">
  <div class="row align-items-center">
    <div class="col-sm-4">

      <img [src]="contact.photo" alt="" class="contact-img-big">

    </div>

    <div class="col-sm-6">

      <ul class="list-group">
        <li class="list-group-item  list-group-item-danger">Name: <span class="fw-bold">{{contact.name}}</span></li>
        <li class="list-group-item  list-group-item-danger">Email: <span class="fw-bold">{{contact.email}}</span></li>
        <li class="list-group-item  list-group-item-danger">Mobile: <span class="fw-bold">{{contact.mobile}}</span></li>
        <li class="list-group-item  list-group-item-danger">Company: <span class="fw-bold">{{contact.company}}</span>
        </li>
        <li class="list-group-item  list-group-item-danger">Title <span class="fw-bold">{{contact.title}}</span></li>
        <li class="list-group-item  list-group-item-danger">Group Name: <span class="fw-bold">{{group.name}}</span>
        </li>
      </ul>
    </div>
  </div>



  <div class="row mt-3">
    <div class="col">
      <a routerLink="/" class="btn btn-danger"><i class="fa fa-arrow-alt-circle-left"></i>Back</a>
    </div>
  </div>
</div>
